{% extends "project/header.html" %}

{% block content %}
<ul class="menu vertical" data-accordion-menu data-multi-open="false" accordionmenu-arrow="true">
<p class="title" style="text-decoration:underline"> Group members </p>
<!-- Mohammad Amjed Info -->
<li>
	<ul class="vertical menu is-active">
		<div class="credit">
			<img class="image6" src="static/project/img/student1.jpg" alt="Mohammad Amjed"><br>
			Email: mamjed@ryerson.ca<br>
			<span class="sub-title">Resposibilies:</span>
			<ul>
				<li>Django Summary</li>
				<li>2</li>
			</ul>
		</div>
	</ul>

</li>	
<!-- Ned Datiles info -->
<li>
	<ul class="vertical menu">
		<div class="credit">
			<img class="image6" src="static/project/img/student2.jpeg" alt="Ned Datiles"><br>
			Email: ned.austin.datiles@ryerson.ca<br>
			<span class="sub-title">Resposibilies:</span>
			<ul>
				<li>Django Installion instruction</li>
				<li>2</li>
			</ul>
		</div>
	</ul>
</li>	
<!-- Nial Hope info -->
<li>
	<ul class="vertical menu">
		<div class="credit">
			<img class="image6" src="static/project/img/student3.jpeg" alt="Nial Hope"><br>
			Email: nhope@ryerson.ca<br>
			<span class="sub-title">Resposibilies:</span>
			<ul>
				<li>Foundation Summary</li>
				<li>2</li>
			</ul>
		</div>
	</ul>
</li>
<!-- Vince de Vera info -->
<li>
	<ul class="vertical menu">
		<div class="credit">
			<img class="image6" src="static/project/img/student4.jpg" alt="Vince De Vera"><br>
			Email: vince.devera@ryerson.ca<br>
			<span class="sub-title">Resposibilies:</span>
			<ul>
				<li>Foundation installation Instruction</li>
				<li>2</li>
			</ul>
		</div>
	</ul>
</li>				
</ul>
{% endblock %}