{% extends "project/header.html" %}

{% block content %}
<div >
	<!-- Foundation Summary code -->
	<p class="title" style="text-decoration:underline"> Foundation 6 framework</p><br>
	<span class="sub-title" style="text-decoration:underline">Introduction:</span>
	<div >
		Foundation is an advance front-end framework created by web design company Zurb. It is a framework for designing beautiful responsive websites, apps and emails that works on all types of devices.
	</div><br>
	<span class="sub-title" style="text-decoration:underline">Popularity:</span>
	<p>Given below is a google trend on the search interest of Foundation in the last five years:</p>
	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1644_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Foundation","geo":"","time":"today 5-y"}],"category":31,"property":""}, {"exploreQuery":"cat=31&date=today%205-y&q=Foundation","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
	<br>
	<span class="sub-title" style="text-decoration:underline">Which developers use Foundation:</span>
	<ul>
		<li>Developers looking for customizability at any skill level.</li>
		<li>Developers looking for a framework that allows for very fast prototyping.</li>
		<li>Developers who are looking for a framework who puts mobile friendliness at the forefront.</li>
	</ul>
	<br>
	<span class="sub-title" style="text-decoration:underline">Websites that use Foundation:</span>
	<ul>
		<li><a href="https://www.vans.ca/">Vans</a></li>
		<li><a href="https://www.adidas.ca/en">Addidas</a></li>
		<li><a href="https://www.arduino.cc/">Arduino</a></li>
		<li><a href="https://www.toms.com/">TOMS</a></li>
		<li><a href="https://www.polaroid.com/">Polaroid</a></li>
	</ul>
	<br>
	<span class="sub-title" style="text-decoration:underline">Strengths:</span>
	<ul>
		<li>It has a very powerful grid system enabling the designers to push the limits of their creativity. </li>
		<li>The styles are intentionally underdeveloped to allow for more creativity and flexibility by designers.</li>
		<li>It uses Rem instead of pixels making it more flexible when dealing with different devices.</li>
		<li>Services are offered for websites, apps and emails.</li>
		<li>It comes with a large collection of styles that separates it from other front-end frameworks.	</li>
		<li>It offer layout templates for faster web development.</li>
		<li>It offer four different types of installation to fit users development needs.</li>
		<li>It offers a beautifully designed documentation with interactive tutorials.</li>
	</ul>
	<span class="sub-title" style="text-decoration:underline">Weaknesses:</span>
	<ul>
		<li>Complexity makes it difficult for novice web designers.</li>
		<li>Some installation file sizes are large. </li>
	</ul>
	<br>
</div>
<!-- Django Summary Code -->
<div>
	<p class="title" style="text-decoration:underline" style="text-decoration:underline">Django backend framework</p><br>
	<span class="sub-title" style="text-decoration:underline">Introduction:</span>
	<p>Django is an open source and free high-level python framework that makes it easier for
		developers to write their apps. Originally developed by Adrian Holovaty and Simon Willison, Django is maintained by the Django Software Foundation.
	</p>
	<span class="sub-title" style="text-decoration:underline">Popularity:</span>
	<p>Given below is a google trend on the search interest of Django in the last five years:</p>
	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1644_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Django","geo":"","time":"today 5-y"}],"category":31,"property":""}, {"exploreQuery":"cat=31&date=today%205-y&q=Django","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
	<br><span class="sub-title" style="text-decoration:underline">Which developers use Django:</span>
	<ul>
		<li>Developers creating highly customizable apps</li>
		<li>Developers that is capable of many visitors and/or transactions</li>
	</ul>
	<span class="sub-title" style="text-decoration:underline">Websites that use Django:</span>
	<ul>
		<li><a href="https://www.pinterest.ca/">Pinterest</a></li>
		<li><a href="https://www.theonion.com/">The Onion</a></li>
		<li><a href="https://www.washingtonpost.com/">The Washington Post</a></li>
		<li><a href="https://www.nasa.gov/">NASA</a></li>
		<li><a href="https://prezi.com/">Prezi</a></li>
	</ul>
	<span class="sub-title" style="text-decoration:underline">Strengths:</span>
	<ul>
		<li>Fast.</li>
		<li>Secure</li>
		<li>Exceedingly Scalable</li>
		<li>Versatile</li>
	</ul>
	<span class="sub-title" style="text-decoration:underline">Weaknesses:</span>
	<ul>
		<li>Too monolithic.</li>
		<li> Everything is based on Django ORM.</li>
		<li>Knowledge of full system is needed to work.</li>
		<li>Components get deployed together.</li>	
	</ul>
	<span class="sub-title" style="text-decoration:underline">The top 5 countries  that search for Django related material:</span>
	<ul>
		<li>Cuba</li>
		<li>China</li>
		<li>South Korea</li>
		<li>Nepal</li>
		<li>Kenya</li>
	</ul>
</div>

{% endblock %}