
/*-------------------- General Styles -------------------*/
.wrap{
	width: 95%;
	/*  max-width: 1100px; */
	margin:0 auto;
}


/*-------------------- Header Styles -------------------*/
.head{
	font-family: 'Luckiest Guy', cursive;
	font-size:46px;
	border-width: 5px;"
}



/*-------------------- Nav Styles -------------------*/




/*-------------------- Main Styles -------------------*/
.main{

}






